.satu{
  height: 150px;
  width: 300px;
  background-color: aqua;
  overflow: scroll;
  border: 10px dotted orange;
}

.dua{
  height: 150px;
  width: 300px;
  background-color: aqua;
  overflow: scroll;
  border: 5px solid green;

}

.tiga{
  height: 150px;
  width: 300px;
  background-color: aqua;
  overflow: scroll;
  border: 20px dashed #140aa6;

}
